:root {
    --light-grey: #e6e6e6;
    --dark-grey: #c6bebe;
    --red-logo: #d04f4f;
    --red: #ED6454;
    --green: #68D9A4;
    --blue: #3282F7;
}

.red {
    background-color: var(--red);
}

.green {
    background-color: var(--green);
}

.blue {
    background-color: var(--blue);
}

#main-container {
    min-width: 280px;
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

header>h1 {
    font-family: "DM Sans";
    font-size: 36px;
    color: var(--red-logo);
}

#search-area {
    margin: 20px 0;
    position: relative;
    width: 100%;
}

#search-area input {
    border: none;
    background-color: var(--light-grey);
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px 40px 5px 10px;
    font-size: 20px;
}

.search-icon {
    position: absolute;
    top: 18px;
    right: 18px;
    z-index: 2;
    font-size: 32px;
}

#tag-words-selected {
    display: flex;
    flex-wrap: wrap;
}

#tag-words-selected>li {
    border-radius: 5px;
    color: white;
    height: 37px;
    padding: 10px 10px 0 15px;
    margin: 10px;
}

#tag-words-selected button {
    border: none;
    background-color: transparent;
}

#tag-words-selected i {
    color: white;
    font-size: 17px;
}

#filters-item {
    display: flex;
}

#filters-item>li {
    margin: 5px;
    border-radius: 5px;
    height: 69px;
    width: 150px;
    color: white;
    font-family: "Lato";
    font-size: 18px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.filter-tags-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-tag-item {
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
}

.search-tag-item::placeholder {
    color: white;
}

#filters-item button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#filters-item i {
    color: white;
}

#filters-item button:hover,
#filters-item button:hover i {
    color: var(--dark-grey);
}

#filters-item>li:nth-child(1) {
    background-color: var(--blue);
}

#filters-item>li:nth-child(2) {
    background-color: chocolate;
    background-color: var(--green);
}

#filters-item>li:nth-child(3) {
    background-color: antiquewhite;
    background-color: var(--red);
}

.filter-tags-body {
    position: absolute;
    z-index: 2;
    color: white;
    top: 95%;
    left: 0;
    height: 275px;
    overflow: scroll;
    display: flex;
}

.ingredients-tag-uls {
    background-color: var(--blue);
}

.appliance-tag-uls {
    background-color: var(--green);
}

.ustensils-tag-uls {
    background-color: var(--red);
}

.filter-tags-body>ul {
    width: 140px;
}

.filter-tags-body button {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    color: white;
    font-size: 15px;
}

#recipes>.no-result>h3 {
    text-align: center;
    margin: 40px 0;
    font-size: 40px;
    font-family: "DM Sans";
}

.recipe-cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-cards-list>li {
    width: 380px;
    height: 356px;
    margin: 10px;
}

.recipe-cards-list img {
    width: 100%;
    height: 178px;
}

.recipe-card-bottom {
    background-color: var(--light-grey);
    height: 178px;
    margin-top: -4px;
    padding: 10px;
    box-sizing: border-box;
}

.recipe-card-bottom-first-line,
.recipe-card-bottom-second-line {
    display: flex;
    justify-content: space-between;
}

.recipe-card-bottom h3 {
    margin: 0;
    max-width: 70%;
}

.recipe-card-bottom p,
.recipe-card-bottom ul {
    width: 50%;
    font-size: 15px;
}

.recipe-card-bottom p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.recipe-card-bottom li {
    max-width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.recipe-card-time-ctnr {
    font-size: 20px;
    font-weight: 900;
}

.recipe-card-bottom p {
    margin-top: 0;
}

@media all and (max-width: 768px) {
    #filters-item {
        flex-direction: column;
        align-items: center;
    }
    #filters-item>li {
        width: 100%;
    }
}